---
---
@import "{{ site.theme }}";

// Match up with Bungie's background for the Beyond Light release
body {
 background: #181c25; 
 color: #f5f5f5;
}

// Match up with Bungie's theme
a {
 color: #29a7ff;
}

a:hover {
 color: #5dbafb;
}

// Add breathing room to our content
.wrapper {
  max-width: 1000px;
}

section {
  // Flush with the top of the page
  margin-top: unset;
  // We need a little more breathing room
  max-width: 1000px;
}

section #title p {
  color: unset;
  font-family: unset;
}

// Use the standard bullet instead of the chevron
ul {
  list-style-image: unset;
}

// Constrain the layout so the roll information is near the name
table {
  width: 50%;
}

// Tighten up spacing around inline code
code {
  margin: 0 2px;
  padding: 4p 0;
}

// Ease up on code block decoration
pre {
  border: unset;
  border-radius: 3px;
  box-shadow: unset;
  padding: 12px 2px;
}

pre code {
  padding: 0 0 0 13px;
}

// Variant tables are sometimes multiline; push everything upwards
td {
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
  font-family: neue-haas-grotesk-text,-apple-system,BlinkMacSystemFont,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
  letter-spacing:0;
  text-transform:uppercase;
}
